html {
  scroll-behavior: smooth;
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
}

/* Media Queries End*/

/* Bootstrap Padding Fix */
[class*="col-"] {
  padding: 1rem;
}

#about_us {
  position: relative;
  background-color: rgb(240, 228, 205);
  max-height: max-content;
  padding-bottom: 2rem;
}

.about {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_heading {
  font-family: "Alegreya", serif;
  color: #af1d70be;
  display: flex;
  justify-content: center;
}

.about_para {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_img {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.about_img:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 0pc 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#contributors {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.contri_heading {
  font-family: "Alegreya", serif;
  padding-top: 3rem;
}

.contri_names {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
