html{
    background: linear-gradient(to right, #780206, #061161);
    height: 100%; width: 100%; background-repeat: no-repeat;
    background-size: cover; 
}

.tm{
  font-size: 120px;
  color: White;
  text-align: Center;
  font-family: 'Dancing Script', cursive;
}
.tm1{
  font-size: 40px;
  color: White;
  text-align: Center;
  font-family: 'Abel', sans-serif;
}
.tm2{
  font-size: 30px;
  color: White;
  text-align: Center;
  font-family: 'Abel', sans-serif;
}
.btt{
  text-align: right;
}
 .btn {
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid black;
  color: White;
  font-size: 16px;
  padding: 14px 35px;
  background-color:rgba(0, 0, 0, 0.5);" 
}
